.pricing {
    background-color: var(--co-dark-green);
    padding: 95px 0 144px;
}

.pricing__content {
    color: var(--co-white);
    display: flex;
    flex-direction: column;
    gap: 65px;
    padding: 0 0 0 30px;
}

.pricing__title {
    font-weight: 900;
    font-size: 40px;
}

.pricing__nav-list {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.pricing__nav-item {
    font-weight: 600;
    font-size: 25px;
}
